.form {
  width: 50%;
  background-color: #111;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin: 0.3rem;
  color: white;
}
.field {
  margin: 1rem 0;
  display: flex;
}
.field label {
  flex-basis: 20%;
}
.field input {
  flex-basis: 80%;
  border: none;
  border-radius: 0.6rem;
  padding: 0.2rem;
  outline: none;
}
.field textarea {
  flex-basis: 80%;
  resize: none;
  border: none;
  border-radius: 0.6rem;
  padding: 0.6rem;
  outline: none;
}
.btn2 {
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 50%;
}
.btn2:hover {
  background-color: orange;
  color: white;
}
