.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.6rem;
}
.todo:hover {
  background-color: #111;
}
.todo p {
  opacity: 0.6;
}
.body {
  color: white;
}

.btn {
  background-color: transparent;
  color: red;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn:hover {
  color: white;
}
