.country {
  background-color: #34495e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  transition: all 0.3s;
  /* text-align: center; */
}
.country:hover {
  transform: scale(1.1);
}
.country h3{
  margin-bottom: 0.6rem;
}
.flag {
  width: 14rem;
  height: 9rem;
  padding: 0.6rem;
}
.btn {
  border: none;
  border-radius: 0.6rem;
  padding: 0.6rem;
  cursor: pointer;
  background-color: orange;
  transition: all 0.3s;
  margin-bottom: 0.6rem;
}
.btn:hover {
  background-color: red;
  color: white;
}
