.search {
  border: none;
  background-color: bisque;
  padding: 0.6rem;
  border-radius: 0.6rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  outline: none;
}
@media screen and (min-width: 768px) {
  .search {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .search {
    width: 30%;
  }
}
