.input {
  text-align: center;
}
.input input {
  border: none;
  background-color: bisque;
  padding: 0.4rem;
  border-radius: 0.6rem;
  outline: none;
}
@media screen and (min-width: 768px) {
  .input input {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .input input {
    width: 30%;
  }
}
